{% extends "panel/base.html" %}
{% block body_block %}
{% load static %}

<section class="ftco-section" style="min-height: 90vh;">
	<div class="container">
		<div class="row mb-12 justify-content-center">
			<h1 style="width: 100%; text-align: center;">User Account</h1>
			{% if password_changed %}
				<div class="alert alert-success" style="width: 100%;">
			        <div class="container">
			        	<div class="d-flex">
				          <div class="alert-icon">
				            <i class="ion-ios-checkmark-circle"></i>
				          </div>
				          <p class="mb-0 ml-2">Password Changed Sucessfully</p>
				        </div>
			          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			            <span aria-hidden="true"><i class="ion-ios-close"></i></span>
			          </button>
			        </div>
				</div>
			{% endif %}
			<div class="col-lg-8 col-md-8 mb-4 mb-md-0" >
				<table style="width: 100%;" border="1">
					<tr>
						<th>Name</th>
						<td>{{request.user.first_name}}</td>
					</tr>
					<tr>
						<th>Username/Email</th>
						<td>{{request.user.email}}</td>
					</tr>
					<tr>
						<th>Password</th>
						<td>
							<form style="margin-top: 20px;" method="post" action="/panel/account/">
								{% csrf_token %}
								<input type="text" name="type" value="password" hidden="true">
				            	<div class="form-group has-default">
					            	<input type="password" class="form-control" placeholder="Password" name="password">
					            </div>
					            <div class="form-group has-default">
					            	<input type="password" class="form-control" placeholder="Repeat Password" name="repassword">
					            </div>
					            <button type="submit" class="btn btn-success">Change Password</button>
							</form>

						</td>
					</tr>


				</table>
			</div>
		</div>
	</div>
</section>

<style type="text/css">
	th, td{
		padding: 10px;
	}
</style>

{% endblock %}