{% extends "panel/base.html" %}
{% block body_block %}
{% load static %}
<section class="ftco-section" style="min-height: 90vh;">
  <div class="container">
    <div class="row mb-12">
      <h1 style="width: 100%; text-align: center;">Welcome {{request.user.first_name}}</h1>
    </div>
    <div class="row mb-12 justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Apps and Devices</h5>
          <p class="card-text">Create/Delete apps and devices.</p>
          <a href="/panel/apps/" class="btn btn-success">Edit</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Account Details</h5>
          <p class="card-text">Check Account details and update password. And Change plan.</p>
          <a href="/panel/account/" class="btn btn-success">GO</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">IOT App Connect</h5>
          <p class="card-text">Download the android app for testing the connection and dubugging your iot app.</p>
          <a href="https://github.com/vishal-pandey/iotc-example-1/raw/master/app/release/app-release.apk" class="btn btn-success">Download</a>
        </div>
      </div>




    </div>

  </div>
</section>


{% endblock %}