{% extends "panel/base.html" %}
{% block body_block %}
{% load static %}
<section class="ftco-section" style="min-height: 90vh;">
	<div class="container">
		<div class="row mb-12 justify-content-center">
			<h1 style="width: 100%; text-align: center;">{{appname}} Logs</h1>
			
			<div class="col-sm-8">
				<table style="width: 100%;" border="1" class="record-table">
					<thead>									
						<tr>
							<th>Device</th>
							<th>Data</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
						{% for log in logs %}
							<tr>
								<td>{{log.deviceid}}</td>
								<td>{{log.message}}</td>
								<td>{{log.timestamp}}</td>
							</tr>
						{% endfor %}		
					</tbody>
				</table>
			</div>
			<div class="col-sm-8">
				<p>
					<b>*note 1 :- </b> timestamp is in UTC convert to your timezone accordingly. <br>
					<b>*note 2 :- </b> only last 100 logs are displayed here, download the csv file for full logs.
				</p>
				<form method="post" action="/panel/connect/" style="display: inline;">
			  		{% csrf_token %}
			  		<input type="text" name="key" value="{{key}}" hidden="true">
				    <button class="btn btn-info btn-sm" type="submit" style="margin-top: 5px;">Connect</button>
			  		
			  	</form>
				<form method="post" action="/panel/logs/download/" style="display: inline;">
			  		{% csrf_token %}
			  		<input type="text" name="key" value="{{key}}" hidden="true">
				    <button class="btn btn-info btn-sm" type="submit" style="margin-top: 5px;">Download csv</button>
			  		
			  	</form>
			</div>
		</div>
	</div>
</section>
<style type="text/css">
	th, td{
		text-align: center;
	}
</style>
{% endblock %}