{% extends "website/base.html" %}
{% block body_block %}
{% load static %}

<section class=" iq-breadcrumb3 text-left main-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="mb-0">
                    <h1 class="text-white">Documentation</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <nav aria-label="breadcrumb" class="text-right">
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="/"><i class="ion-android-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Documentation</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <img class="img-fluid iq-breadcrumb3-after" src="{% static 'website/images/about/about-shap.png' %}" alt="image">
</section>


{% endblock %}