{% extends "website/base.html" %}
{% block body_block %}
{% load static %}

<section class=" iq-breadcrumb3 text-left main-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="mb-0">
                    <h1 class="text-white">Pricing</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <nav aria-label="breadcrumb" class="text-right">
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="/"><i class="ion-android-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <img class="img-fluid iq-breadcrumb3-after" src="{% static 'website/images/about/about-shap.png' %}" alt="image">
</section>

<div class="main-content">
    <!-- Eas Pricing Plans-->
    <section class="iq-pricing">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box">
                        <h2 class="title font-weight-bold">IOTC Pricing plan</h2>
                        <p class="sub-title">We provide very offordable pricing plan for every aspects of users.</p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters mt-2">

                <div class="col-lg-4 col-sm-12">
                    <div class="pricing-box text-center ">
                        <div class="price-head mt-2 mb-2">Free</div>
                        <div class="price-blog pt-4 pb-4 main-bg">
                            <div class="price"> <span class="currency">$</span><strong>0/</strong><span class="month">Free</span> </div>
                        </div>
                        <div class="listing">
                            <ul class="mt-5">
                                <li>
                                    <span class="time-of-year">
                                    Apps <b>X 1</b>
                                    <span class="tooltip">Apps are the container for the devices. One app can contains muliple devices.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Devices <b>X 1</b>
                                    <span class="tooltip">Devices are like endpoints where the actual devices and software enterfaces can send or recieve messages. Devices within same app can communicate with each other.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Community Support <b>Yes</b>
                                    <span class="tooltip">You can ask for your problems on the community forum and other developers will help you to resolve your problem.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Email Support <b>No</b>
                                    <span class="tooltip">You can ask for any help on email our technical team will help you with the integration.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Phone Support <b>No</b>
                                    <span class="tooltip">Devices are like endpoints where the actual devices and software enterfaces can send or recieve messages. Devices within same app can communicate with each other.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                            </ul>
                        </div>
                        <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-12">
                    <div class="pricing-box text-center ">
                        <div class="price-head mt-2 mb-2">Basic</div>
                        <div class="price-blog pt-4 pb-4 main-bg">
                            <div class="price"> <span class="currency">$</span><strong>2/</strong><span class="month">Month</span> </div>
                        </div>
                        <div class="listing">
                            <ul class="mt-5">
                                <li>
                                    <span class="time-of-year">
                                    Apps <b>X 5</b>
                                    <span class="tooltip">Apps are the container for the devices. One app can contains muliple devices.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Devices <b>X 25</b>
                                    <span class="tooltip">Devices are like endpoints where the actual devices and software enterfaces can send or recieve messages. Devices within same app can communicate with each other.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Community Support <b>Yes</b>
                                    <span class="tooltip">You can ask for your problems on the community forum and other developers will help you to resolve your problem.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Email Support <b>Yes</b>
                                    <span class="tooltip">You can ask for any help on email our technical team will help you with the integration.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Phone Support <b>No</b>
                                    <span class="tooltip">Devices are like endpoints where the actual devices and software enterfaces can send or recieve messages. Devices within same app can communicate with each other.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                            </ul>
                        </div>
                        <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-12">
                    <div class="pricing-box text-center ">
                        <div class="price-head mt-2 mb-2">Free</div>
                        <div class="price-blog pt-4 pb-4 main-bg">
                            <div class="price"> <span class="currency">$</span><strong>10/</strong><span class="month">Month</span> </div>
                        </div>
                        <div class="listing">
                            <ul class="mt-5">
                                <li>
                                    <span class="time-of-year">
                                    Apps <b>X 20</b>
                                    <span class="tooltip">Apps are the container for the devices. One app can contains muliple devices.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Devices <b>X 200</b>
                                    <span class="tooltip">Devices are like endpoints where the actual devices and software enterfaces can send or recieve messages. Devices within same app can communicate with each other.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Community Support <b>Yes</b>
                                    <span class="tooltip">You can ask for your problems on the community forum and other developers will help you to resolve your problem.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Email Support <b>Yes</b>
                                    <span class="tooltip">You can ask for any help on email our technical team will help you with the integration.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                                <li>
                                    <span class="time-of-year">
                                    Phone Support <b>Yes</b>
                                    <span class="tooltip">Devices are like endpoints where the actual devices and software enterfaces can send or recieve messages. Devices within same app can communicate with each other.</span>
                                    <i class="ion-information-circled"></i></span>
                                </li>
                            </ul>
                        </div>
                        <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <!-- Eas Pricing Plans-->
</div>

{% endblock %}